* {
    box-sizing: border-box;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600; 
}
body {
    padding: 0;
    margin: 0;
    background-color: hsl(257, 40%, 49%);
    background-image: url("./images/bg-desktop.svg");
    height: 100vh;
    color: white;
}
img {
    max-width: 100%;
}
.container {
    width: min(90%, 1400px);
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.build-community {
    line-height: normal;
}

.huddle-content {
    padding: 30px 0 30px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
   
}

.myButton {
    /* width: 200px; */
	background-color:white;
	border-radius:28px;
	border:1px solid hsl(257, 40%, 49%);
	display:inline-block;
	cursor:pointer;
	color:hsl(257, 40%, 49%);
	font-family:Arial;
	font-size:17px;
	padding:10px 51px;
	text-decoration:none;
	/* text-shadow:0px 1px 0px #2f6627; */
}
/* .myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
} */
.community {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    
    /* padding-left: 100px; */ 
  
}
.company-heading {
    flex: 1;
}

.social-media {
  display: flex;
  justify-content: flex-end;
}
.fab {
    padding: 40px;
    font-size: 35px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

@media only screen and (max-width: 375px) {
    * {
        box-sizing: border-box;
    }
    body {
        padding: 0;
        margin: 0;
        height: 100vh;
        background-image: url("./images/bg-mobile.svg");
      
    }
    .container {
     display: flex;
     flex-direction: column;
    }
    

    h2 {
        font-size: 24px;
    }
    #content {
        display: flex;
        flex-direction: column;
        color: white;
        background-color: hsl(257, 40%, 49%);
        
        height: fit-content;
    }
    .company-heading{ 
        padding-top: 20px;
        padding-left: 45px;
    }
   .image-mockup {
       width: 200%;
   }
   .community {
       display: flex;
       flex-direction: column;
       justify-content: center;
       padding: 50px 0px 10px 20px; 
   }
   .huddle-button {
       height: 40vh;
       /* text-align: center; */
   }
   .build-community {
       margin-left: 30px;
       width: 50vh;
   }
   .huddle-content {
    display: flex;
    justify-content: center;
     font-size: medium;
     font-weight: 400;
     width: 35vh;
     margin-left: 30px;
     padding-bottom: 10px;
   }
   .social-media {
     display: flex;
     justify-content: center;
   }
   .fab {
    padding: 30px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .myButton {
    /* width: 200px; */
	background-color:white;
	border-radius:28px;
	border:1px solid hsl(257, 40%, 49%);
	display:inline-block;
	cursor:pointer;
	color:hsl(257, 40%, 49%);
	font-family:Arial;
	font-size:16px;
	padding:10px 101px;
	text-decoration:none;
	/* text-shadow:0px 1px 0px #2f6627; */
}
  .button{
    margin-left: 40px;
  }
  
}
