* {
    box-sizing: border-box;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600; 
}
body {
    padding: 0;
    margin: 0;
}
.build-community {
    line-height: normal;
}
#content{
    display: flex;
    /* flex-direction: column; */
   color: white;
   background-color: hsl(257, 40%, 49%);
   background-image: url("./images/bg-desktop.svg");
   height: 100vh;
}
.header-title {
    padding-bottom: 70px;
}
.company-heading{
    width: 50%;
    padding-top: 15vh;
    padding-left: 150px;
}

.huddle-content {
    padding: 30px 0 30px 0;
    width: 40%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
   
}

.myButton {
    /* width: 200px; */
	background-color:white;
	border-radius:28px;
	border:1px solid hsl(257, 40%, 49%);
	display:inline-block;
	cursor:pointer;
	color:hsl(257, 40%, 49%);
	font-family:Arial;
	font-size:17px;
	padding:10px 51px;
	text-decoration:none;
	/* text-shadow:0px 1px 0px #2f6627; */
}
/* .myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
} */
.community {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 300px;
}

.social-media {
  position: relative;
  top: 250px;
  left: 350px
}
.fab {
    padding: 40px;
    font-size: 35px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

@media only screen and (max-width: 375px) {
    * {
        box-sizing: border-box;
    }
    body {
        padding: 0;
        margin: 0;
        height: 100vh;
        background-image: url("./images/bg-mobile.svg");
        max-width: 1440px;
    }

    h2 {
        font-size: 16px;
    }
    #content {
        display: flex;
        flex-direction: column;
        color: white;
        background-color: hsl(257, 40%, 49%);
        
        height: fit-content;
    }
    .company-heading{ 
        padding-top: 30px;
        padding-left: 75px;
    }
   .image-mockup {
       width: 250%;
   }
   .community {
       display: flex;
       flex-direction: column;
       justify-content: flex-end;
       /* padding: 50px 0px 10px 20px;  */
   }
   .huddle-button {
       height: 50vh;
   }
   .build-community {
       width: 60vh;
   }
   .huddle-content {
    display: flex;
    justify-content: center;
     font-size: medium;
     font-weight: 400;
     width: 50vh;
   }
   .social-media {
       display: flex;
       position: relative;
      top: 25px;
      left: 5px;
      height: 20vh;
   }
   .fab {
    padding: 30px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
}
