* {
    box-sizing: border-box;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
}
body {
    padding: 0;
    margin: 0;
}
#content{
    display: flex;
    /* flex-direction: column; */
   color: white;
   background-color: hsl(257, 40%, 49%);
   background-image: url("./images/bg-desktop.svg");
}
.company-heading{
    width: 50%;
}


.myButton {
    /* width: 200px; */
	background-color:white;
	border-radius:28px;
	border:1px solid hsl(257, 40%, 49%);
	display:inline-block;
	cursor:pointer;
	color:hsl(257, 40%, 49%);
	font-family:Arial;
	font-size:17px;
	padding:10px 31px;
	text-decoration:none;
	/* text-shadow:0px 1px 0px #2f6627; */
}
/* .myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
} */
.community {
    width: 50%;
    display: flex;
    flex-direction: column;
}